<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <title>磁贴画开始定制</title>
  <meta name="Keywords" content="传给雅昌,画册,装饰画,有框画,海报定制,挂历2018"/>
  <meta name="Description" content="传给雅昌是雅昌集团旗下中国最大的专业艺术影像输出平台，提供画册、装饰画、框画、海报、挂历等照片产品的个性定制服务。您选一张照片，我送您一件艺术品。"/>
</head>
<body style="opacity:0;">
<div id="app">
  <unify-header></unify-header>
  <div class="partition">
    <h1 class="module-title">艺术磁贴画</h1>
    <h4 class="module-instruction">全国首创磁贴画，重新定义墙面美学</h4>
    <div class="select-container" v-if="drawData">
      <div class="exhibition">
        <div v-show="currentSelect.type!==1" class="no-select"></div>
        <div class="proportion" v-if="currentSelect.type===1">
          <div class="scale"
               :class="['box-'+item.code,'border-'+currentSelect.border.code,{fill:item.code===currentSelect.size}]"
               v-for="item in drawData.attributes[1].attributeValues" :key="item.dbId">
            <span class="size-name">{{item.name.substr(0,1)}}</span>
          </div>
        </div>
      </div>
      <div class="select-operation">
        <div class="choice-size">
          <strong class="select-title">选择尺寸</strong>
          <ul class="size-list">
            <li
              class="item"
              :class="{current:currentSelect.type===1&&item.code===currentSelect.size}"
              v-for="item in drawData.attributes[1].attributeValues"
              :key="item.dbId"
              @click="select(1,item.code)">{{item.name}}
            </li>
          </ul>
        </div>
        <div class="choice-border">
          <strong class="select-title">选择边框</strong>
          <ul class="border-list">
            <li class="item"
                :class="{current:currentSelect.type===1&&item.code===currentSelect.border.code}"
                v-for="item in drawData.attributes[0].attributeValues" :key="item.dbId"
                @click="select(1,0,item)">
              <div class="sample" :class="'border-item-'+item.code"></div>
              <span class="border-name">{{item.name}}</span>
            </li>
          </ul>
        </div>
        <div class="price-buy">
          <span class="price" :class="{loading:!currentSelect.price}" v-show="currentSelect.type===1">￥：{{currentSelect.price}}</span>
          <a href="javascript:void(0);" class="buy-btn" v-show="currentSelect.type===1 && currentSelect.price">开始定制</a>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="select-container huaxin" v-if="drawCoreData">
      <div class="exhibition">
        <div v-show="currentSelect.type!==2" class="no-select"></div>
        <div class="proportion" v-show="currentSelect.type===2">
          <div class="scale"
               :class="['box-'+item.code,{fill:item.code===currentSelect.size}]"
               v-for="item in drawCoreData.attributes[0].attributeValues" :key="item.dbId">
            <span class="size-name">{{item.name.substr(0,1)}}</span>
          </div>
        </div>
      </div>
      <div class="select-operation">
        <div class="choice-size">
          <strong class="unit-title">磁贴画芯</strong>
          <strong class="select-title">选择尺寸</strong>
          <ul class="size-list">
            <li
              class="item"
              :class="{current:currentSelect.type===2&&item.code===currentSelect.size}"
              v-for="item in drawCoreData.attributes[0].attributeValues"
              :key="item.dbId"
              @click="select(2,item.code)">{{item.name}}
            </li>
          </ul>
        </div>
        <div class="price-buy">
          <span class="price" :class="{loading:!currentSelect.price}" v-show="currentSelect.type===2">￥：{{currentSelect.price}}</span>
          <a href="javascript:void(0);" class="buy-btn" v-show="currentSelect.type===2 && currentSelect.price">开始定制</a>
        </div>
      </div>
    </div>
  </div>
  <unify-footer></unify-footer>
</div>
</body>
</html>
