<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <title>雅昌影像-框画挂画,家居装饰,摄影作品装饰画-传给雅昌专业定制</title>
  <meta name="Keywords" content="装饰画,有框画,无框画,挂画,照片墙,框画定制"/>
  <meta name="Description" content="传给雅昌手工打造定制框画装饰画，将您的摄影作品完美制作成家居装饰画，客厅、卧室、餐厅、玄关，打造您专属的影像画廊。"/>
  <style>
    body {
      opacity: 0;
    }
  </style>
</head>
<body>
	<div id="app">
		 <unify-header></unify-header>
		 <div class="container">
		 	<div class="pageTitle">
		        <h2 class="pageTitleTop">艺术框画</h2>
		        <p class="pageTitleMid">艺术和现代工艺的完美结合</p>
		        <!--<p class="pageTitleDetail"><span>更多详情</span></p>-->
		    </div>
		    <div class="bothSides">
		       <div style="left: 120px;pointer-events: none" class="imgBoxList"  v-show="!frameShowBool">
			       <div class="picContainer picContainerOne" :style="{backgroundImage:'url('+picturePrefix+previewImageUrl+')'}">

			       </div>
		       	  <div class="boxA shwoImgBox">
		       	  	<span class="sizeFrame">A</span>
		       	  </div>
		       	  <div class="boxB shwoImgBox">
		       	  	<span class="sizeFrame shwoImgBox">B</span>
		       	  </div>
		       	   <div class="boxC shwoImgBox">
		       	  	<span class="sizeFrame">C</span>
		       	  </div>
		       	   <div class="boxD shwoImgBox">
		       	  	<span class="sizeFrame">D</span>
		       	  </div>
		       	   <div class="boxE shwoImgBox">
		       	  	<span class="sizeFrame">E</span>
		       	  </div>
		       </div>
		       <div  class="imgBoxList" v-show="frameShowBool">
			       <div  class="picContainer picContainerTwo" :style="{backgroundImage:'url('+picturePrefix+previewImageUrl+')'}">

			       </div>
		       </div>
		       <div class="typeBox">
		       		<div class="btnChoose">选择尺寸</div>
		       		<div class="sizeBox">
		       			<div @click='updateSizeFn(index)' v-for='(frameSize,index) in frameSize' class="k1_Foot1size_click"  :sizeType='frameSize.name | firstCode' :size='frameSize.code'>&nbsp; {{frameSize.name}}</div>
		       		</div>
		       		<div class="btnChoose">选择边框</div>
		       		<div class="frameBox">
		       			<div class="picAndText" v-for='(frameType,index) in frameTypeData'>
		       				<div class="kuangAngle" @click='updataTypeFn(index)' :code='frameType.code' :frameType='frameType.name' :style="{backgroundImage:'url('+picturePrefix+frameType.attr+')'}"></div>
		       				<div class="k1_Foot1frame_click k1_pre_frame">{{frameType.name}}</div>
		       			</div>

		       		</div>
		       		<div class="rightBottom">
	                    <div class="showPrice">
	                        ￥ : <span class="price_show">{{price}}</span><span class="skuCode" style="display: none"></span>
	                    </div>
	                    <a @click="startCustom"><div class="startBook">开始定制</div></a>
	                </div>
		       </div>
		    </div>
		 </div>
  		<unify-footer></unify-footer>
	</div>
</body>
</html>
